.navbar {
	width: 100%;
	box-shadow: var(--box-shadow-1);
}
.nav-center {
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-weight: 700;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: var(--spacing-2);
}
.navlinks {
	display: flex;
	gap: 0.5rem;
	text-transform: capitalize;
}
